{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    <h1>Listes des Contacts
        <a href ="{{ path('cible-ajout')}}" class ="btn btn-sm btn-success" style="float: right;">
            <i class ="glyphicon glyphicon-edit" >
            Ajouter une Cible
            </i>
        </a>
    </h1>

    <hr />
    <table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nom</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Prénom</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Code d'identification</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Date de Naissance</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nationnalité</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cible in listeCible %}
            <tr>
                <td style="text-align: center;">{{ cible.nom }}</td>
                <td style="text-align: center;">{{ cible.prenom }}</td>
                <td style="text-align: center;">{{ cible.nomCode }}</td>
                <td style="text-align: center;">{{ cible.DateNaissance|date('Y-m-d') }}</td>
                {% if cible.nationnalite is null %}
                    <td style="text-align: center;">Aucune nationnalité attribuée</td>
                {% else %}
                    <td style="text-align: center;">{{ cible.nationnalite.nomNatio }}</td>
                {% endif %}
                <td style="text-align: center;">
                    <a class="suppression btn btn-danger" href="{{ path('cible-suppression', {id: cible.id}) }}" style="text-align: center; margin-bottom: 1em;" data-playground-id="{{ cible.id }}">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Supprimer la cible
                    </a>
                    <p>
                    <a class="btn btn-primary" href="{{ path('cible-details', {id: cible.id}) }}" style="text-align: center;">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Details de la cible
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $(".suppression").click(function(){
            var id = $(this).attr("data-playground-id");
            var url = '{{path('cible-suppression', { 'id': 0}) }}';
            var url = url.replace("0",id);
            $.ajax({
                url: url,
                type: 'delete',
                success:function(data){
                    console.log(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
            $(this).closest("tr").hide();
        });
    });
</script>
</html>
{% endblock %}