{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    <h1>Listes des Nationnalitées
        <a href ="{{ path('nationnalite-ajout')}}" class ="btn btn-sm btn-success" style="float: right;">
            <i class ="glyphicon glyphicon-edit" >
            Ajouter une Nationnalité
            </i>
        </a>
    </h1>

    <hr />
    <table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nationnalité</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for natio in listeNatio %}
            <tr>
                <td style="text-align: center;">{{ natio.nomNatio }}</td>
                <td style="text-align: center;">
                    <button class="suppression" href="{{ path('nationnalite-suppression', {id: natio.id}) }}" style="text-align: center;" data-playground-id="{{ natio.id }}">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Supprimer la nationnalité
                    </button>
                    <p>
                    <a href="{{ path('nationnalite-detail', {id: natio.id}) }}" style="text-align: center;">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Détails la nationnalité
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $(".suppression").click(function(){
            var id = $(this).attr("data-playground-id");
            var url = '{{path('nationnalite-suppression', { 'id': 0}) }}';
            var url = url.replace("0",id);
            $.ajax({
                url: url,
                type: 'delete',
                success:function(data){
                    console.log(data)
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
            $(this).closest("tr").hide();
        });
    });
</script>
</html>
{% endblock %}