{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    <h1>Détails de la mission : {{ detailMission.titre }}</h1>
    <hr />
    <table id="table" class="table mt-3 table-hover table-borderless row-border">
        <tr><td>Description de la mission : </td><td>{{ detailMission.description }}</td></tr>
        <tr><td>Nom de code de la mission : </td><td>{{ detailMission.nomCode }}</td></tr>
        <tr><td>Pays de la mission : </td><td>{{ CountryName(detailMission.pays) }}</td></tr>
        <tr><td>Spécialité de la mission : </td><td>{{ detailMission.specialite }}</td></tr>
        <tr><td>Statut de la mission : </td><td>{{ detailMission.statut }}</td></tr>
        <tr><td>Date de début de la mission : </td><td>{{ detailMission.dateDebut|date('Y-m-d') }}</td></tr>
        <tr><td>Date de fin de la mission : </td><td>{{ detailMission.dateFin|date('Y-m-d') }}</td></tr>
        <tr><td>Agents sur la mission : </td><td>{% for agent in detailMission.agent %} - {{ agent.nom }} {{ agent.prenom }}<br/>{% else %} Aucun agent {% endfor %}</td></tr>
        <tr><td>Contacts sur la mission : </td><td>{% for contact in detailMission.contact %} - {{ contact.nom }} {{ contact.prenom }}<br/>{% else %} Aucun contact {% endfor %}</td></tr>
        <tr><td>Planques disponible : </td><td>{% for planque in detailMission.planque %} 
                Code de la planque : {{ planque.code }} <br/> 
                Adresse : {{ planque.adresse }}, {{ planque.CP }}, {{ planque.ville }} <br/>
                Type de planque : {{ planque.type }}
            {% else %} Aucune planque {% endfor %}</td></tr>
        <tr><td>Cibles de la mission : </td><td>{% for cible in detailMission.Cible %} 
                Identité : {{ cible.nom }} {{ cible.prenom }}<br/>
                Nationnalité : {{ cible.nationnalite.nomNatio }}<br/>
                Nom de Code : {{ cible.nomCode }}<br/>
                Née le : {{ cible.DateNaissance|date('Y-m-d') }}<br/><br/>
            {% else %} Aucune Cible {% endfor %}</td></tr>
    </table>
</div>
        <a href ="{{ path('mission-modification', {id: detailMission.id}) }}" class ="btn btn-sm btn-success" style="float: left;">
            <i class ="glyphicon glyphicon-edit" >
            Modifier cette mission
            </i>
        </a>
</html>
{% endblock %}