{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    
    <h1>Listes des Missions
    {% if is_granted('ROLE_ADMIN') %}
    <a href ="{{ path('mission-ajout')}}" class ="btn btn-sm btn-success" style="float: right;">
        <i class ="glyphicon glyphicon-edit" >
        Ajouter une mission
        </i>
    </a>
    {% endif %}
    </h1>
    <hr />
    <table id="table" class="table table-striped table-bordered" style="width:100%; margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Titre</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Description</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nom de code</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Pays</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Statut</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Spécialité</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Date de Début</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Date de Fin</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in listeMissions %}
            <tr>
                <td style="text-align: center;">{{ mission.titre }}</td>
                <td style="text-align: center;">{{ mission.description }}</td>
                <td style="text-align: center;">{{ mission.nomCode }}</td>
                <td style="text-align: center;">{{ mission.pays.nom }}</td>
                <td style="text-align: center;">{{ mission.statut }}</td>
                <td style="text-align: center;">{{ mission.Specialite.nom }}</td>
                <td style="text-align: center;">{{ mission.dateDebut|date('Y-m-d') }}</td>
                <td style="text-align: center;">{{ mission.dateFin|date('Y-m-d') }}</td>
                <td style="text-align: center;">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="suppression btn btn-danger" href="{{ path('mission-suppression', {id: mission.id}) }}" style="text-align: center; margin-bottom: 1em;" data-playground-id="{{ mission.id }}">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Supprimer la mission
                    </a>
                    {% endif %}
                    <p>
                    <a class="btn btn-primary" href="{{ path('mission-details', {id: mission.id}) }}" style="text-align: center;">
                        Details de la mission 
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $(".suppression").click(function(){
            var id = $(this).attr("data-playground-id");
            var url = '{{path('mission-suppression', { 'id': 0}) }}';
            var url = url.replace("0",id);
            $.ajax({
                url: url,
                type: 'delete',
                success:function(data){
                    console.log(data)
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
            $(this).closest("tr").hide();
        });
    });
</script>
</html>
{% endblock %}