{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div>
    <div class="pull-right">
        </div>
        <h1>Suppression de la mission : {{ suppressionMission.titre }}</h1>
        <hr />
        {{ include('mission/formulaireMission.html.twig')}}
        <p>
        <a href="{{ path('mission-details', {'id': suppressionMission.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left">
        Retour au détail de la mission : {{ suppressionMission.titre}}
        </i></a>
        </p>
    </div>
</html>

{% block JS %}
    {{ parent() }}
{% endblock %}

{% endblock %}