{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    <h1>Détails de la planque : {{ detailPlanque.code }}</h1>
    <hr />
    <table id="table" class="table mt-3 table-hover table-borderless row-border">
        <tr><td>Adresse de la planque : </td><td>{{ detailPlanque.adresse }}</td>
        <tr><td>Code postal de la planque : </td><td>{{ detailPlanque.CP }}</td>
        <tr><td>Ville de la planque : </td><td>{{ detailPlanque.CP }}</td>
        <tr><td>Pays de la planque : </td><td>{{ detailPlanque.pays }}</td>
        <tr><td>Type de la planque : </td><td>{{ detailPlanque.type }}</td>
        <tr><td>Missions de la Planque : </td><td>{% for mission in detailPlanque.missions %} - <a href="{{ path('mission-details', {id: mission.id}) }}">{{ mission.titre }}</a> <br/>{% else %} Aucune mission {% endfor %}</td></tr>
    </table>
</div>
        <a href ="{{ path('agent-modification', {id: detailPlanque.id}) }}" class ="btn btn-sm btn-success" style="float: left;">
            <i class ="glyphicon glyphicon-edit" >
            Modifier cet Agent
            </i>
        </a>
</html>
{% endblock %}