{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
    </div>
    <h1>Listes des Planques
        <a href ="{{ path('planque-ajout')}}" class ="btn btn-sm btn-success" style="float: right;">
            <i class ="glyphicon glyphicon-edit" >
            Ajouter une Planque
            </i>
        </a>
    </h1>

    <hr />
    {# Tableau des différentes planque #}
    <table id="table" class="table table-striped table-bordered" style="width:100%">
    {# En-tête des champs pour les différentes planque #}
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Code</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Adresse</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Ville</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Code Postal</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Pays</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Type</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Action</th>
            </tr>
        </thead>
        {# On parcours l'array envoyer par le controller pour remplir le tableau #}
        <tbody>
            {% for planque in listePlanque %}
            <tr>
                <td style="text-align: center;">{{ planque.code }}</td>
                <td style="text-align: center;">{{ planque.adresse }}</td>
                <td style="text-align: center;">{{ planque.ville }}</td>
                <td style="text-align: center;">{{ planque.CP }}</td>
                <td style="text-align: center;">{{ planque.pays.nom }}</td>
                <td style="text-align: center;">{{ planque.type }}</td>
                <td style="text-align: center;">
                    <a class="suppression btn btn-danger" href="{{ path('planque-suppression', {id: planque.id}) }}" style="text-align: center; margin-bottom: 1em;" data-playground-id="{{ planque.id }}">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Supprimer la planque
                    </a>
                    <p>
                    <a class="btn btn-primary" href="{{ path('planque-details', {id: planque.id}) }}" style="text-align: center;">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Details de la planque
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $(".suppression").click(function(){
            var id = $(this).attr("data-playground-id");
            var url = '{{path('planque-suppression', { 'id': 0}) }}';
            var url = url.replace("0",id);
            $.ajax({
                url: url,
                type: 'delete',
                success:function(data){
                    console.log(data)
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
            $(this).closest("tr").hide();
        });
    });
</script>
</html>
{% endblock %}